# Replace the credentials here with your own.
# Rename this file to .env before running 'npm start'

# Current MLB Season
MLB_Season = '2018'
IN_OFF_SEASON = false

# You can change the voice of the robot to your favorite voice.
TJBOT_VOICE = 'en-US_MichaelVoice'
# Some of the available options are:
#   en-US_AllisonVoice
#   en-US_LisaVoice
#   en-US_MichaelVoice (the default)

# Twilio account data
TWILIO_SID = ''
TWILIO_AUTH_TOKEN = ''
# Include country code with following numbers, e.g. '+12223334444'
TWILIO_PHONE_NUMBER = ''
# Only set this if you would like all texts being sent to one number
TWILIO_TEXT_TO_PHONE_NUMBER = ''

# MLB Fantasy Sports Data
MLB_FANTASY_SPORTS_KEY = ''

# Watson Services
# IMPORTANT: If your service is provisioned with IAM authentication, comment out the
# username/password credentials and use the IAM credentials key/value pair

# Watson Assistant authentication using username/password authentication
CONVERSATION_USERNAME=<put assistant username here>
CONVERSATION_PASSWORD=<put assistant password here>
# Watson Assistant authentication using IAM
#CONVERSATION_IAM_APIKEY=<put assistant IAM apikey here>
#CONVERSATION_URL=<put assistant url here>
# Watson Assistant workspace ID 
CONVERSATION_WORKSPACE_ID=<put workspace id here>

# Watson Tone Analyzer authentication using username/password authentication
TONE_ANALYZER_USERNAME = <put tone analyzer username here>
TONE_ANALYZER_PASSWORD = <put tone analyzer password here>
# Watson Tone Analyzer authentication using IAM
#TONE_ANALYZER_IAM_APIKEY=<put assistant IAM apikey here>
#TONE_ANALYZER_URL=<put assistant url here>

# Watson Speech to Text authentication using username/password authentication
SPEECH_TO_TEXT_USERNAME = <put speech to text username here>
SPEECH_TO_TEXT_PASSWORD = <put speech to text password here>
# Watson Speech to Text authentication using IAM
#SPEECH_TO_TEXT_IAM_APIKEY=<put speech to text IAM apikey here>
#SPEECH_TO_TEXT_URL=<put speech to text url here>

# Watson Text to Speech authentication using username/password authentication
TEXT_TO_SPEECH_USERNAME = <put speech to text username here>
TEXT_TO_SPEECH_PASSWORD = <put speech to text password here>
# Watson Text to Speech authentication using IAM
#TEXT_TO_SPEECH_IAM_APIKEY=<put assistant IAM apikey here>
#TEXT_TO_SPEECH_URL=<put assistant url here>

# Watson Discovery authentication using username/password authentication
DISCOVERY_USERNAME = <put discovery username here>
DISCOVERY_PASSWORD = <put discovery password here>
# Watson Discovery authentication using IAM
#DISCOVERY_IAM_APIKEY=<put assistant IAM apikey here>
#DISCOVERY_URL=<put assistant url here>
# Watson Discovery collection IDs
# NOTE: starting with v2017-08-01, the Watson News collection
# always uses the following IDs
DISCOVERY_ENVIRONMENT_ID = 'system'
DISCOVERY_COLLECTION_ID = 'news'
