# Rename this file to .env before running 'npm start'

# Current MLB Season
MLB_SEASON = '2018'
IN_OFF_SEASON = 'false'

# You can change the voice of the robot to your favorite voice.
TJBOT_VOICE = 'en-US_MichaelVoice'
# Some of the available options are:
#   en-US_AllisonVoice
#   en-US_LisaVoice
#   en-US_MichaelVoice (the default)

# Twilio account data
TWILIO_SID = ''
TWILIO_AUTH_TOKEN = ''
# Include country code with following numbers, e.g. '+12223334444' (with NO DASHES)
# Twilio assigned phone number
TWILIO_PHONE_NUMBER = ''
# Only set this if you would like all texts being sent to one number
TWILIO_TEXT_TO_PHONE_NUMBER = ''

# MLB Fantasy Sports Data
MLB_FANTASY_SPORTS_KEY = ''

# Watson Assistant
CONVERSATION_URL=<add_conversation_url>
CONVERDATION_VERSION_DATE=2018-03-05
CONVERSATION_WORKSPACE_ID=<add_conversation_workspace_id>
## Un-comment and use either username+password or IAM apikey.
CONVERSATION_IAM_APIKEY=<add_conversation_iam_apikey>
#CONVERSATION_USERNAME=<add_conversation_username>
#CONVERSATION_PASSWORD=<add_conversation_password>

# Watson Tone Analyzer
TONE_ANALYZER_URL=<add_tone_analyzer_url>
TONE_ANALYZER_VERSION_DATE=2017-09-21
## Un-comment and use either username+password or IAM apikey.
TONE_ANALYZER_IAM_APIKEY=<add_tone_analyzer_iam_apikey>
#TONE_ANALYZER_USERNAME=<add_tone_analyzer_username>
#TONE_ANALYZER_PASSWORD=<add_tone_analyzer_password>

# Watson Speech to Text
SPEECH_TO_TEXT_URL=<add_speech_to_text_url>
## Un-comment and use either username+password or IAM apikey.
SPEECH_TO_TEXT_IAM_APIKEY=-<add_speech_to_text_iam_apikey>
#SPEECH_TO_TEXT_USERNAME=<add_speech_to_text_username>
#SPEECH_TO_TEXT_PASSWORD=<add_speech_to_text_password>

# Watson Text to Speech
TEXT_TO_SPEECH_URL=<add_text_to_speech_url>
## Un-comment and use either username+password or IAM apikey.
TEXT_TO_SPEECH_IAM_APIKEY=<add_text_to_speech_iam_apikey>
#TEXT_TO_SPEECH_USERNAME=<add_text_to_speech_username>
#TEXT_TO_SPEECH_PASSWORD=<add_text_to_speech_password>

# Watson Discovery
DISCOVERY_URL=<add_discovery_url>
DISCOVERY_VERSION_DATE=2018-03-05
## Un-comment and use either username+password or IAM apikey.
DISCOVERY_IAM_APIKEY=<add_discovery_iam_apikey>
#DISCOVERY_USERNAME=<add_discovery_username>
#DISCOVERY_PASSWORD=<add_discovery_password>
